[2016-07-21 05:30] chelh opened #1 "Support for Access databases"
Add support for extracting and publishing VBA from/to Access databases (`.mdb` and `.accdb`).

[2016-07-29 09:56] chelh opened #2 "Deal with Office's random-byte padding of strings"
With many VBA form&ndash;containing Office files, each time the Office file is saved, VBA Sync Tool generates a slightly different `.frx` file, even if the form design doesn't actually change. Inspection with a hex editor suggests that when Office embeds the `.frx` data into the file, for each control name that it writes, it inserts some uninitialized bytes to make the next field align to a 4-byte

[2016-08-01 07:06] chelh commented on #2
This appears to be an issue with every instance of `fmString`

[2016-08-07 07:51] #2 closed, assigned to chelh

[2016-09-07 19:20] bajju31 opened #3 "Publish to xlsm"
This does not seem to work.  the list of files does not show up from folder.
Upon refresh get the error as below
"Error reading 'f' stream in .frx data; expected  cbForm size 48, but actual size was 68.

[2016-09-08 22:25] chelh commented on #3
I can't reproduce this using the `.xlsm` file I use to test with. Could you upload the problematic file?

[2016-10-06 14:55] RupertAvery opened #4 "Sequence does not contain any elements when Class name case does not match"
For some reason if the BIFF file name case does not match the declared file name, the following code in VbaFolder.cs throws an exception

[code]

This can be remedied by uppercasing everything, or doing a case insensitive match

[2016-10-06 15:19] RupertAvery opened #5 "Command line extract/publish"
It would be useful to have a command line version that can be run from a batch file. Extraction can ignore diffs by default as we are expecting to extract into a version-controlled folder. The publish can be like a compile step, merging the source files into a binary file.

[2016-10-06 18:20] chelh commented on #5
Try saving a session, then adding `AutoRun = true` to the top of the session `.ini` file. Launch VBA Sync with the session file as an argument. That _should_ allow it to run without any user interaction.

See `MainWindow.xaml.cs`:216–253 for where this happens.

[2016-10-15 19:06] chelh commented on #3
Hi, are you able to upload the problematic file? Or is there some other file you can make that displays the same behavior?

[2016-10-15 19:22] #4 closed, assigned to chelh

[2016-11-08 10:29] 1tm opened #6 "Compiled version of VBASync"
Hello!

I wish I could try your utility, but I don't have VS or any other C# compiler installed.
Could you also please publish a pre-built executable file for the tool?

Thanks!

[2016-11-09 04:47] chelh commented on #6
There are compiled versions past the [releases link](https://github.com/chelh/VBASync/releases) on the main project page.

[2016-11-09 04:47] #6 closed, assigned to nobody

[2017-01-27 08:35] ittegrat commented on #3
Hi, I obtain the following error using only a Form and a Frame:
**Error reading 'f' stream in .frx data; expected cbForm size 40, but actual size was 48.**

Here the minimal workbook that I used to reproduce the behavior: [Book.zip](https://github.com/chelh/VBASync/files/734718/Book.zip)

[2017-01-31 07:56] #3 closed, assigned to chelh

[2017-01-31 08:01] chelh commented on #3
Could you please test the new release, v1.1.2, to see if it fixes the issue?

[2017-01-31 09:53] ittegrat commented on #3
I still experiencing some problems with the [Excel VBA Developer Tools](http://vbatools.sourceforge.net/) addin: [developer.xla](http://sf.net/projects/vbatools/files/latest)

Steps to reproduce the error:
  1. choose the **VBA project folder**
  2. choose the **Office file**
  3. press the button **Apply**
  4. press the button **Refresh**

[2017-01-31 15:58] chelh commented on #4
I've just put out a [new release](https://github.com/chelh/VBASync/releases) with this bug fixed. Thanks for reporting it!

[2017-01-31 16:02] chelh commented on #3
Okay, I believe that is fixed in the new release v1.1.3.

[2017-02-05 11:12] rubberduck203 commented on #1
Was there any particular difficulty that you were having with this? I created this functionality for [Rubberduck](https://github.com/rubberduck-vba/Rubberduck/) a few years ago, albeit we leveraged the VBIDE library. I no longer have an office install, but I'd be happy to talk out any issues.

[2017-02-05 16:54] chelh commented on #1
Rubberduck is working within the Access/VBE object model though, correct? This project doesn't use that object model; it reads and writes directly to the Office file.

[2017-02-05 17:40] rubberduck203 commented on #1
It does, and you are gonna have one heck of a time yanking VBA files out of Access without the VBIDE library... Access doesn't share the OpenXml format.

I don't precisely recall, but I believe there are hidden system tables in the accdb that keep track of forms and code modules, but it's been a long while since I looked at that.

[2017-02-05 17:41] rubberduck203 commented on #1
Regardless, I wanted to leave the offer to use me as a rubberduck anytime.

[2017-02-05 19:06] chelh commented on #1
Looks like [Jackcess](http://jackcess.sourceforge.net) can read Access files from Java. So what's needed is a .Net port of that.

[2017-02-05 19:46] rubberduck203 commented on #1
Are you sure that project can get to the VBA modules? It doesn't look like it at a glance.

[2017-02-05 23:11] chelh commented on #1
If I take that project up, I'm fairly certain I would find a `vbaProject.bin` somewhere in the internal structure.

--------

EDIT: Nope. After playing around with Jackcess, I can say that porting it to .Net is easier said than done, and VBA project information is spread across at least two system tables, not stored in a binary structure similar to Word/Excel/Outlook VBA.

[2017-03-13 20:35] hectorticoli opened #7 "Error "Object reference not set to an instance of an object" then crash if Office file is opened"
Hello,

I was testing your software this evening, and found a bug (using version 1.1.4). Here is the scenario:
I created a XLSM file containing a Module, a class and a UserForm (with a button). On scenario start, the XLSM file is opened.
- Extract the VBA content to a folder
- Modify the module using a text editor
- Refresh then publish the changes (while the XLSM file is open). You get the error

[2017-03-13 20:52] hectorticoli commented on #7
By the way, I tried to contact you directly without success: I had trouble to compile the project using VS2015 Community, and if you're interested with french translation, then I might be able to help.

[2017-03-13 20:57] chelh commented on #7
I'll look into this this evening, but it may work out that the best I can do is give you a more descriptive error message.

Also, to open the solution, you will need Visual Studio 2017, although I can roll back to a Visual Studio 2015–compatible project if needed for your translation. Thanks!

[2017-03-14 05:25] chelh commented on #7
This is fixed in [release 1.1.5](https://github.com/chelh/VBASync/releases).

Also, where did you get a link to contact me directly, so I can correct that info?

[2017-03-14 05:25] #7 closed, assigned to nobody

[2017-03-14 21:19] hectorticoli commented on #7
Well, that's the point, I didn't find any link to contact you directly ^^
Do you have an existing Change Request on multi-Language management?
Do you have an idea about how you'd implement the multi-language?

[2017-03-15 05:22] chelh opened #8 "Translation into other languages"
Are you able to translate VBA Sync into another language? If so, you can help the project by following these steps:

1. Find VBA Sync's resources file in [`src/VBASync/Localization/VBASyncResources.resx`](https://github.com/chelh/VBASync/blob/master/src/VBASync/Localization/VBASyncResources.resx)
2. Make a translated copy of it, either [manually](http://stackoverflow.com/a/1142840/2146688) or usin

[2017-03-15 05:34] chelh commented on #7
Ah okay, I'll add a note to the main page that the best method of contacting me is to open an issue.

I've also opened issue #8 as a place to coördinate translations, and wrote some basic steps there on how to translate the project's `.resx` file.

[2017-03-15 20:32] hectorticoli commented on #8
Okay, then here is the french translation. I think this could be improved using tests of the application in french (maybe better choice for accelerators, fixes on the translation depending on the context). I translated only from the Resource file, not the application, so I'll probably submit another version once the French Resource file is integrated.
[Resources.FR.resx.txt](https://github.com/che

[2017-03-15 20:37] hectorticoli opened #9 "1.1.4 gives assert failure message on quit / 1.1.5 fails to start"
Here is a bug scenario on version 1.14 (_1.15 can't start_):
Open the application
Click on the cross to close the window. The following error message displays:
![quitbug](https://cloud.githubusercontent.com/assets/22278738/23969642/6c7dd95a-09c7-11e7-94a0-46c95951812d.png)

I'm using Windows 7 Pro.

[2017-03-15 22:23] chelh commented on #9
The bug you've reported in 1.1.4 seems to be an issue with asking .Net Framework 4.0 to access isolated storage in a thread that is set to a non–US English culture. I have a workaround, but it's an ugly one.

I've used 1.1.5 on another computer and confirmed that it failed to start on that one. Currently trying to find out what's going on…

[2017-03-16 13:01] fasen opened #10 "Error reading 'o' stream in .frx data: expected cbMorphData"
When opening one specific project folder I get this error message:

See also[ MorphDataControl.cs](https://github.com/chelh/VBASync/blob/41f510e509274ffcd14a22ccb418a0e2f007be10/src/VBASync.Model/FrxObjects/MorphDataControl.cs#L68)

Other project folders with .frx files work just fine.

Edit: This is on version 1.1.4

[2017-03-16 20:33] hectorticoli commented on #9
I would guess that this is related to your recent change of compilation options (remove pdb). I'd try to revert this specific commit as a beginning.

[2017-03-17 17:36] chelh commented on #10
Could you please attach a file that's giving you trouble? There's not much I can do without that.

[2017-03-20 09:25] fasen commented on #10
I can reproduce the error with any file:
* I have a user form with a list box element
* I change the property "SpecialEffect" of that list box to "0 - fmSpecialEffectFlat" (or anything else but "2 - fmSpecialeffectSunken")
* I save and close the file
* I start VBASync (passing the .ini file via target in a shorcut), apply the changes to my folder and quit VBASync
* I start VBASync (passing the .in

[2017-03-20 13:06] #10 closed, assigned to chelh

[2017-03-20 13:08] chelh commented on #9
Could you please try this new version, to see that this bug is fixed and your translation shows up?
[VBA.Sync.Tool-v1.1.6.zip](https://github.com/chelh/VBASync/files/855013/VBA.Sync.Tool-v1.1.6.zip)

[2017-03-20 13:09] chelh commented on #10
I've checked in a change to fix this and a similar issue with label controls. Could you please check that this new build works as expected?

[VBA.Sync.Tool-v1.1.6.zip](https://github.com/chelh/VBASync/files/855015/VBA.Sync.Tool-v1.1.6.zip)

[2017-03-20 13:13] chelh commented on #8
Okay, I have your translation set up. Is my attribution in `README.md` correct, or do you have a different name you'd like to have credit under?

[2017-03-20 20:42] hectorticoli commented on #9
Okay, I test on the 2 computers where I noticed the bug and I'll let you know.

[2017-03-20 21:02] hectorticoli commented on #9
Bad news, I still have the assert failure, and the news is that avast pointed the application as "rare", and as a type that usually contains viruses. I'm pretty sure there's no virus, but the trick made avast nervous. I'll let you know if avast gives me a specific feedback about the file. NB: The assert failure occured when avast was deactivated.

[2017-03-20 21:10] hectorticoli commented on #8
[Resources.FRv2.resx.txt](https://github.com/chelh/VBASync/files/856369/Resources.FRv2.resx.txt) A small fix for french translation. The text for "Macros: {OldFile}, {NewFile} seems different from what I wrote. I didn't check if you modified my file, so maybe there's a small bug with this.

Do you plan to integrate a multilanguage mechanism in some future version?

[2017-03-20 21:11] hectorticoli commented on #9
![stacktraceerror](https://cloud.githubusercontent.com/assets/22278738/24121875/1cf5d80a-0dba-11e7-9ffd-abb5cb907386.png)
The stackTrace of the error with version 1.1.6, maybe that will help.

[2017-03-20 22:31] chelh commented on #8
`{OldFile}` and `{NewFile}` must remain untranslated, because they're macros – the code does a search and replace on them. I added a comment to the original resource file, so any future translators don't trip up over this.

For the moment the translation is entirely based on your Windows language setting, but I can add support for picking the language in the options menu and storing it in the sess

[2017-03-21 03:12] chelh commented on #9
Give this one a try please. It puts into place a rather ugly hack, but should fix your issue.

[VBA.Sync.Tool-v1.1.6b.zip](https://github.com/chelh/VBASync/files/857022/VBA.Sync.Tool-v1.1.6b.zip)

[2017-03-21 03:19] chelh commented on #8
In terms of a multi-language mechanism, how would you feel about being able to override the default language with a command-line switch?

[2017-03-21 07:39] fasen commented on #10
Works like a charm. Thanks.

[2017-03-21 21:10] hectorticoli commented on #9
I don't get the error anymore on my computer with the described scenario. I will test on another computer where I faced the issue to confirm that this is fixed.

If the hack is ugly, maybe you'll come with a nicer fix in a near future ^^

I'll let you know ASAP (probably tomorrow)

[2017-03-21 21:34] hectorticoli commented on #8
The best choice would be to be able to select the language from the GUI, that would let the user know what languages are available, but changing the language using a command line argument could be enough with a proper documentation (user would use a shortcut to start the application with the language they want).

I add a new v2 for the translation, that you can import in your repository, with the

[2017-03-21 21:39] hectorticoli commented on #8
I noticed that some texts are not translated, like the state of the VBA modules and cie ("File modified (--)" for example). Maybe these are not included in the resource file?

[2017-03-22 19:24] hectorticoli commented on #9
Okay, the version works on the other computer too. I consider the issue as solved on version 1.1.6b, so maybe you can generate a version 1.1.7 with the translation update^^

[2017-03-23 13:59] chelh commented on #9
The next release will be v1.2.0, and it's slated to have the following:

  * A better fix for this issue (save `LastSession.ini` directly in `%AppData%`, not isolated storage)
  * The fix I've already put into place for #10
  * More command-line parameters (to satisfy #5)
  * Your French translation (after I've done a fairly thorough sweep to detect more localizable strings)
  * A language switche

[2017-03-23 19:46] hectorticoli opened #11 "Options not saved"
Hello,

Tested on version 1.1.6b (and 1.1.4), if I specify a diff tool and close VBASync, then the options are empty again when I start VBASync again.

[2017-03-23 19:48] hectorticoli commented on #9
If possible, I'd be interested with a portable version (like now) too

[2017-03-24 04:46] chelh commented on #11
Yeah, I've been noticing this too. In version 1.2.0 I'm moving `LastSession.ini` from isolated storage into `%AppData%`, and that will almost certainly fix it.

[2017-03-25 00:25] chelh commented on #8
Okay, I've uploaded a [new resources file](https://github.com/chelh/VBASync/blob/master/src/VBASync/Localization/VBASyncResources.resx) with more localizable strings. Thanks!

[2017-03-25 07:01] hectorticoli commented on #11
Okay. I would separate Settings saving from Session saving (as diff tool definition is not really related to the file and folder you're working on). How about introducing a Settings.ini file (as you probably have all the code to parse a ini file)?

[2017-03-26 03:41] chelh commented on #11
VBASync has never loaded the file and folder settings from `LastSession.ini`, except when the user signals that they want this (via **File**→**Load last session**). So session and settings persistence is already separate, even if they are in the same file.

[2017-03-26 09:16] hectorticoli commented on #11
Okay :-)

[2017-03-26 17:52] hectorticoli commented on #8
Here is an update for the french translation with all new items translated.
Enjoy
[VBASyncResources.fr.resx.txt](https://github.com/chelh/VBASync/files/870937/VBASyncResources.fr.resx.txt)

[2017-03-26 19:55] chelh commented on #11
Fixed in release 1.2.0

[2017-03-26 19:55] #11 closed, assigned to chelh

[2017-03-26 19:55] chelh commented on #9
Fixed in release 1.2.0

[2017-03-26 19:55] #9 closed, assigned to chelh

[2017-03-26 19:56] chelh commented on #5
More command-line options are in release 1.2.0

[2017-03-26 19:56] #5 closed, assigned to chelh

[2017-03-28 20:26] hectorticoli opened #12 "Improvement: LastSession.ini in Application folder for Portable version"
Hello chelh,

Thanks for the portable version of 1.2.0. The version even solved another issue I didn't have time to report. I would ask for an extra improvement for the portable version, so that it really becomes a portable version (without extra data outside the current application folder).

Let me know if this can be done without too much troubles.

[2017-03-28 20:30] hectorticoli opened #13 "Improvement: List of recently stored sessions"
Another idea for improvement:
That would be even more user friendly to have access of recently stored sessions from the "File" menu (5 last stored sessions for example).

I'm pretty sure there is a workaround using the new command line options of 1.2.0 and windows shortcuts, but I will surely take advantage of that new feature.

Thanks!

[2017-04-06 14:16] chelh commented on #13
Please try out this release candidate and get back to me: [Portable VBA Sync Tool 1.3.0.zip](https://github.com/chelh/VBASync/files/902841/Portable.VBA.Sync.Tool.1.3.0.zip)

[2017-04-06 19:17] hectorticoli commented on #13
I'll test this version tomorrow about the recent item list.

[2017-04-06 19:18] hectorticoli commented on #12
I saw that you introduced the "Portable=True" with VBASync.ini in version 1.3.0 RC. I noticed that even with this option, if a LastSession.ini file exists in %appdata%, options are not displayed on first launch (so the application isn't entirely standalone in this case). You're close to the point!

[2017-04-06 22:07] chelh commented on #12
Here's an updated RC. Thanks for testing! [Portable VBA Sync Tool 1.3.0.zip](https://github.com/chelh/VBASync/files/904059/Portable.VBA.Sync.Tool.1.3.0.zip)

[2017-04-07 17:45] hectorticoli commented on #13
The recent list item appears, but I'm not sure I tested to recall a recent session. Last thing before the release, I would move the "Settings" menu item above the recent session list (just to keep this list almost at the bottom).

[2017-04-07 17:46] hectorticoli commented on #12
This updated version seems okay about the Portable setting.

[2017-04-07 17:58] hectorticoli opened #14 "Manage relative path in recent items"
Hello chelh,

Now that you almost fixed my last enhancement request, I thought of another one ^^. I would use a setting to save recent list item as relative path (relative from the application folder).

Ideally, that would manage relative path like ..\Sessions\SessionFile.ini (if the file is located in a folder next to the VBASync folder), or just relative folder from the application folder (like

[2017-04-07 23:36] chelh commented on #14
Okay, so let's say you have the `.exe` in `D:\VBASync\`. I think it shouldn't be too hard for me to detect and use a relative path for `D:\VBASync\session.ini` or `D:\VBASync\Sessions\session2.ini`. It would be harder to detect and use a relative path for `D:\VBASync Sessions\session3.ini`, and that also seems like a much more niche request. How about I cover the first two scenarios, but not the t

[2017-04-08 05:01] chelh commented on #8
I've recently added an About window. @hectorticoli could you please translate the new strings in [the resources file](https://github.com/chelh/VBASync/blob/master/src/VBASync/Localization/VBASyncResources.resx)?

[2017-04-08 17:30] hectorticoli commented on #14
For immediate use, the first 2 scenario should be enough. However, I think you could consider something like this :
1) Test the path as absolute path
2) Test the path as relative path using code like this `var absolute_path = Path.Combine([ApplicationFolder], "..\images\image.jpg");` (picked from http://stackoverflow.com/questions/4796254/relative-path-to-absolute-path-in-c). I think this already

[2017-04-08 19:02] hectorticoli commented on #8
Here is the updated version of resource file. Maybe I'll take some time soon to see how to participate directly to the Git repository ^^
[VBASyncResources.fr.resx.txt](https://github.com/chelh/VBASync/files/907740/VBASyncResources.fr.resx.txt)

I was too lazy to test the latest version to have context for translation, so if you plan to build another RC, maybe I'll check the translation before the

[2017-04-09 04:48] chelh commented on #14
Here's a new version for testing: [Portable VBA Sync Tool 1.3.0.zip](https://github.com/chelh/VBASync/files/907981/Portable.VBA.Sync.Tool.1.3.0.zip)

[2017-04-12 17:12] hectorticoli commented on #8
Hello, here is the updated resource file, ready to go to 1.3.0.
[VBASyncResources.fr.resx.txt](https://github.com/chelh/VBASync/files/917329/VBASyncResources.fr.resx.txt)

[2017-04-12 17:14] hectorticoli commented on #13
Rearranged recent file list OK, and recall a recent session works too. Didn't try the case of a deleted session file, but that's not mandatory for the very next version (maybe you already managed the case though).

[2017-04-12 17:17] hectorticoli commented on #14
Sorry for being "late", I had Internet access problem recently. I tested that new version. Apart from the french resource file that I updated (see corresponding discussion), everything seems OK as far as I remember. I think that as far as I'm concerned, version 1.3.0 is ready for release.

[2017-04-13 10:47] sywldb opened #15 "Publish to .xlsm isn't working"
Hello Chelsea!

First of all, great idea with VBASync, and thanks for sharing it with us! :)

## My Issue
I recently downloaded and compiled VBASync under VS2015 -- I'm not using C# 7.0, so had to make some changes around properties with "=>" and TryParse(..., out var s). My changes are purely around the syntax of C# 7.0, so no scope or logic has been changed.

I'm able to extract out VBA code fro

[2017-04-13 18:17] chelh commented on #15
Please try with the latest pre-built release candidate: [Portable.VBA.Sync.Tool.1.3.0.zip](https://github.com/chelh/VBASync/files/907981/Portable.VBA.Sync.Tool.1.3.0.zip)

[2017-04-14 06:40] chelh commented on #14
[VBA Sync Tool 1.3.0 is now released!](https://github.com/chelh/VBASync/releases/latest)

[2017-04-14 06:40] #14 closed, assigned to chelh

[2017-04-14 06:41] chelh commented on #13
[VBA Sync Tool 1.3.0 is now released!](https://github.com/chelh/VBASync/releases/latest)

[2017-04-14 06:41] #13 closed, assigned to chelh

[2017-04-14 06:41] chelh commented on #12
[VBA Sync Tool 1.3.0 is now released!](https://github.com/chelh/VBASync/releases/latest)

[2017-04-14 06:41] #12 closed, assigned to chelh

[2017-04-14 16:54] hectorticoli opened #16 "If merge tool path is given between quotes in settings, then the tool can't be used"
Hello,

I noticed that the merge tool works only if the path is not given between quotes. I copied/pasted the path from a shortcut, and I've just found out today what the problem was.

Identified in 1.3.0 RC (don't remember which one)

[2017-04-15 01:38] chelh commented on #16
A fix will be included with the next release. I wasn't aware that it was standard behavior to strip quotes from user-supplied paths like that, thanks!

[2017-04-15 01:38] #16 closed, assigned to chelh

[2017-04-15 07:06] hectorticoli commented on #16
Well, I don't know if that's a standard. That's just that I copied/pasted without wondering about the quote. There was spaces in the path, so I kept quotes "just to be sure".
Thanks for the fix^^

[2017-04-15 22:11] chelh opened #17 "Linux-compatible command-line version"
Please comment or emote here if you'd like me to find some way to get VBA Sync Tool working as a command-line executable under Linux, in addition to the normal Windows GUI. I've tried a couple of approaches already, and would like to gauge the actual level of interest in this before pursuing it further.

[2017-04-15 22:36] hectorticoli commented on #17
I'm only working with Windows for Office files with VBA. I thought automation on Office files wasn't available on Linux, but maybe that was just some time ago.
So to me, that would be low priority.

[2017-04-15 22:50] chelh commented on #17
Most VBA source control tools use Office's own APIs for dealing with Office files. That's the easy way to do it, but it introduces a hard dependency on Office.

VBA Sync Tool is different because it's a pure .Net solution using the OpenMCDF library, no Office APIs needed! That means that it's quite feasible to make a Linux version; it's just a matter of getting the actual program logic separated c

[2017-04-18 23:12] princekream commented on #15
Hi Chelsea,

This tool is such a great addition to the Office suite - well done!  I use it religiously for all my Excel VBA projects.

However, since I've started using it (v1.2 and now v1.3), I haven't been able to push changes to my Excel sheets.  Extracting works wonders, but not pushing.  As stated above by Simon, when pushing, the file datestamp does change so it looks like something is being

[2017-04-19 02:15] chelh commented on #15
I've been able to reproduce this and am working on a fix, thanks @princekream!

[2017-04-19 02:30] chelh commented on #15
Okay, I believe I have this fixed in the [latest release](https://github.com/chelh/VBASync/releases/latest) (v1.3.1).

[2017-04-19 02:30] #15 closed, assigned to chelh

[2017-04-19 13:14] chelh commented on #17
As of version 2.0.0 the tool runs under Linux, but only if all settings are specified on the command-line, including auto-run. I'll consider this good enough for now.

[2017-04-19 13:14] #17 closed, assigned to chelh

[2017-04-21 00:11] princekream opened #18 "WPF GUI sometimes doesn't obey cherry-picking"
Hi there,

So the good news is v.2.0 kicks a**!  It's publishes and extract's VBA to the SVN.

However, since v2.0 I noticed that publishing will something delete VBA script from the SVN, even though I've cleared deselected that I didn't want files deleted.  Same for extracting, files will disappear from the SVN randomly.  Not sure if it's settings (checkbox) not being propagated, or mismatch on m

[2017-04-21 02:04] chelh commented on #18
Are you using the portable version, or the installer?

[2017-04-22 12:33] chelh commented on #18
Also, if you were using the **OK** button previously, I'd like you to start using the **Apply** button instead, and note the program's behavior. Do the unselected deletions disappear from the changes list when they're executed? Do their checkboxes tick immediately before they're executed?

[2017-04-25 15:02] princekream commented on #18
Hi again,

Small update.  I think I figured it out and it's not related to VBASync :+1:

The "disappearing" files syndrome is due to my encrypted drive.  My encryption is kicking in before VBAsync has had the time to fully dump the VBA file I'm extracting.  It starts encrypting a semi-complete file and creates a corrupted table of contents on the encryption-side... and then, the VBA file disappear

[2017-04-25 15:02] #18 closed, assigned to chelh

[2017-04-25 19:37] hectorticoli opened #19 "Refresh synchronization after Extract or Publish"
Hi chelh,

I saw a few issues about publish problems (already fixed). If after an extract or publish, you refresh the list - not as it "should be", but using the standard refresh - without selecting any item, I think you'll get the same result in most cases, but if some new extract/publish issue appears, then the user will see that as an extract or publish problem.

What do you think?

[2017-04-26 04:18] chelh commented on #19
Fixed in release 2.0.1, thanks!

[2017-04-26 04:18] #19 closed, assigned to chelh

[2017-04-27 09:32] hectorticoli opened #20 "Allow drag and drop of folder and file"
Hi chelh,

Could you add the possibility to set office file and VBA Folder using drag and drop from explorer ?

Thanks

[2017-04-27 09:59] hectorticoli opened #21 "Recent files are ignore if spécifier as relative path"
Hi chelh,

If recent files are specified as relative path in Lastsession.ini, they are not loaded.

Tested in version 2.0.1

[2017-04-27 10:06] hectorticoli opened #22 "Recent files are ignored if specified as relative path"
Hi chelh,

If recent files are specified as relative path in Lastsession.ini, they are not loaded.

Tested in version 2.0.1

[2017-04-27 10:07] hectorticoli commented on #21
Close.  Sorry, I submitted twice, from my phone. If possible, you can just delete it

[2017-04-27 10:07] #21 closed, assigned to nobody

[2017-04-28 04:49] chelh commented on #22
Sorry about that. Could you please try this most recent build to see that it solves the problem?

[Portable VBA Sync Tool 2.0.2.zip](https://github.com/chelh/VBASync/files/963465/Portable.VBA.Sync.Tool.2.0.2.zip)

[2017-04-28 05:02] chelh commented on #22
Sorry about that. Please try this most recent build, which should fix it. Disregard the previous version I sent.

[Portable VBA Sync Tool 2.0.2.zip](https://github.com/chelh/VBASync/files/963481/Portable.VBA.Sync.Tool.2.0.2.zip)

[2017-04-30 01:14] chelh commented on #22
BTW, could you please translate these two strings?

 * “FRX file difference” (appears as a title bar)
 * “Cannot load WPF UI. If your system is non-Windows or otherwise doesn't support WPF, you may only run VBA Sync Tool by specifying -r on the command-line.” (error message)

[2017-04-30 09:34] hectorticoli commented on #22
The first field was already translated. About the second field, what does the "-r" argument do? Do you have another GUI, or is it a flag to force VBASync to run as command-line only?
The current message isn't quite clear about that.

[2017-04-30 14:12] hectorticoli opened #23 "When you load a session, if file or folder doesn't exist, alert user and disable some functions"
Hi chelh,

I noticed that if you load a session, and file or folder doesn't exist anymore, there is no alert to the user (maybe apply would display a message, I didn't test).
I would suggest something like this:
![displayfileorfoldermissing](https://cloud.githubusercontent.com/assets/22278738/25564983/4071ec72-2dbf-11e7-9878-3514b3e8cad0.png)

+ Disable Apply, make sure "OK" perform only the "Quit

[2017-04-30 14:23] hectorticoli opened #24 "Prevent publishing code to worksheets that don't exist"
Hi chelh,

I work with several versions of files, with different worksheets, and same VBA code. I published a worksheet that didn't exist in the Office file. It gives the following result:
![publishtomissingworksheets](https://cloud.githubusercontent.com/assets/22278738/25565057/ac8460c4-2dc0-11e7-9bb9-c1ef31d8617d.png)

You can notice the icon related to Feuil4, and the (Name) property that doesn

[2017-04-30 14:58] hectorticoli opened #25 "Option: ignore worksheets and modules with no VBA Code"
Hi chelh,

Another idea, related with issue 24, I would find useful to be able to ignore files without VBA code in them (as an option in settings panel), in the Office File, and in the Source Folder. As a side-benefit, the list of extracted files would be smaller to the only necessary files.

What do you think?

[2017-04-30 15:09] hectorticoli opened #26 "Language selected on first launch not taken into account"
Hi chelh,

With the following scenario, language is not correctly taken into account:
- First launch of VBASync, portable version
- Keep all options as default, and click Apply, then OK
- Quit VBASync with the cross button

The LastSession.ini file is as follow
[LastSession.ini.txt](https://github.com/chelh/VBASync/files/966801/LastSession.ini.txt)

You can see that Language field is empty.
As a r

[2017-04-30 18:27] hectorticoli commented on #22
Before you give me details, here is the resource file with a direct translation of the message. Maybe I'll have to change it afterwards, maybe not.
[VBASyncResources.fr.resx.txt](https://github.com/chelh/VBASync/files/966895/VBASyncResources.fr.resx.txt)
Enjoy

[2017-04-30 18:33] hectorticoli commented on #22
By the way, it seems that your fix for this issue works. Thanks!

[2017-04-30 18:36] hectorticoli commented on #20
Tested on version 2.0.2. It works. If that's not too much troubles, I would prevent to drop folders as Office file, or file as Source folder.

Thanks!

[2017-04-30 19:37] chelh commented on #20
Yes, in a recent change I've made it so that if you drop in a file as a folder and a folder as a file, the tool will automatically switch their places.

[2017-04-30 22:14] hectorticoli commented on #20
Okay, I'll wait for the next version to test it then :-)

[2017-05-02 02:37] chelh commented on #26
Here's a v2.1.2 release candidate for you to test! It should also address #20, #23, #24, and #25. Full list of changes:

 * **Breaking change:** Since v1.x the program's name has changed. If you have shortcuts that point to `VBA Sync Tool.exe`, point them at `VBASync.exe` instead!
 * VBA Sync Tool can now manage your VBA project's license keys, if it has any
 * Allow dragging and dropping files
 *

[2017-05-03 17:48] hectorticoli commented on #26
Hi chelh,

2.1.2 is OK for this issue ^^

[2017-05-03 17:52] hectorticoli commented on #20
Version 2.1.2 is OK about this issue.

I haven't be able to reproduce that, but with field validation, that's not a problem anymore.

[2017-05-03 17:54] hectorticoli commented on #23
Tested OK with version 2.1.2

[2017-05-03 18:09] hectorticoli commented on #24
Tested OK on version 2.1.2.

I know that's out of the scope of the tool, but can you tell me if that's possible to "clean" Office files from the "bad" imported sheets? Maybe as command-line, or as another tool?

Thanks

[2017-05-03 18:42] hectorticoli commented on #24
Never-mind, I found a way to clean the file with version 2.1.2 (simply delete the file from the folder, and publish the change to the Office file) !

[2017-05-03 19:32] vdubya opened #27 "GistThat integration"
First, thanks @chelh for such a fantastic tool, I use VBASync almost daily!

This is a feature request to integrate "[GistThat](http://ramblings.mcpher.com/Home/excelquirks/gitthat)" by @brucemcpherson into VBASync.

I totally understand if this is beyond the scope of what you are interested in including, it just seems like a natural fit with VBASync. VBASync already has the entire framework for e

[2017-05-04 01:06] chelh commented on #27
I'll first work on providing hooks so that users can execute batch scripts against their entire VBA project:

 * A `BeforePublish` hook to run immediately before all code gets published to the Office file
 * An `AfterExtract` hook to run immediately after any files are extracted to the version control folder

How's your C#/VBScript? This would go much faster with me working on the VBASync portion,

[2017-05-04 01:12] #26 closed, assigned to chelh

[2017-05-04 01:13] #24 closed, assigned to chelh

[2017-05-04 01:13] #23 closed, assigned to chelh

[2017-05-04 01:13] #22 closed, assigned to chelh

[2017-05-04 01:13] #20 closed, assigned to chelh

[2017-05-04 04:48] #25 closed, assigned to chelh

[2017-05-08 07:14] chelh commented on #8
@hectorticoli could you please check out the strings missing between [the latest resources file](https://github.com/chelh/VBASync/blob/master/src/VBASync/Localization/VBASyncResources.resx) and [the French translation](https://github.com/chelh/VBASync/blob/master/src/VBASync/Localization/VBASyncResources.fr.resx)? I've added a few since your last translation update.

Here's an RC of the upcoming v

[2017-05-08 19:55] hectorticoli commented on #8
Hi chelh, here is the updated french resource file.
[VBASyncResources.fr.resx.txt](https://github.com/chelh/VBASync/files/984677/VBASyncResources.fr.resx.txt)

About key "SWAddNewDocumentsToFile", my direct translation is closer to "Allow to publish new worksheets (expert option)". From my tests, that's what this option allows. I would recommend to disable this option by default, to avoid any file

[2017-05-08 20:01] hectorticoli commented on #27
Hello vdubya, chelh,

Could you describe a use-case for this feature? That would help me to understand, and maybe improve the french translation as well.
Specifically, "Macros" refers in my mind to "VBA code" when dealing with Office files, but I assume this refers to something else here.

Thank you for any detail you could add :-)

[2017-05-08 20:27] vdubya commented on #27
@chelh, I might be able to code it but the limiting factor is time. Given that it is already implemented, in VBA, maybe that simplifies the problem, we'll see. I like your approach of putting the before/after hooks as that will enable a lot of different integrations.

@hectorticoli, the use case still pertains to VBA Code. GistThat provides a way to share code with other VBA users with some neat f

[2017-05-08 21:05] brucemcpherson commented on #27
Hi everyone

FYI, I haven't maintained this for some years, and in fact superseded it with vbagit..

Bruce

Sent from my iPad

[2017-05-08 21:28] vdubya commented on #27
Hey @brucemcpherson, thanks for the update. I didn't quite realize that it had been superseded with VBAGit since I still saw GistThat references in some of the VbaGit code. Either way, the thing I was drawn to with VBASync was that it didn't require changing the trust settings which are unfortunately locked down in my environment, so whether it is gist or git based I still really like the concept

[2017-05-11 22:45] chelh commented on #27
@vdubya I am done trying to read the GistThat/vbaGit code. If you still want this integration, I can help you write the parts that modify VBASync files, but will not directly interface with the GistThat/vbaGit parts.

[2017-05-23 03:37] chelh commented on #27
@hectorticoli Sorry for neglecting your message for so long; I've been busy with work.

The basic idea behind hooks is to provide a way for users to modify their VBA code using external executables before VBA Sync does work on it. This enables one to have VBA code in slightly different formats depending on whether it's inside the Office file or in the version-control repository. If I understand co

[2017-06-22 09:34] BaronBodissey opened #28 "Support subdirectories"
Hi chelh,

Thx for this wonderfull tool. I did the same in the lame way using automation :-( . You win by KO ;-) .

What I think would be usefull for everyone is to support subdirectories in the extract/publish directory. That is to say, that in our office project we have tens of modules classes and forms. So It would be nice to kinda sort them in the subdirectories Modules, Classes, Forms (or oth

[2017-06-22 10:00] BaronBodissey opened #29 "Differentiate extract/publish Office document"
Hi anew,

Would it be possible to differentiate the extracted and the published office document. And even a root "template" office document.

That's to say for example that we conceive the office document in a working directory c:\whatever\work\.
That the source code repo is in another directory c:\src\awesomeprojectrepo\.
And finally, as we do not want any change in the styles of the document hap

[2017-06-22 14:02] BaronBodissey opened #30 "FRX extraction isn't repeatable if Office jumbles the site order"
Hi chelh,

I noticed that extracting twice the same form doesn't generate the same frx file.

Thx

[2017-06-22 14:57] BaronBodissey commented on #30
I must had that the FormControl "reader" seems not to work properly.
In debugging I see that the read properties don't correspond to the form.

Best regards.

[2017-06-22 15:48] chelh commented on #30
Could you please make a small file that displays this behavior? It's probably some odd combination of settings you're using on your form that causes this. My test files all generate the same `.frx` file each time.

[2017-06-23 07:11] BaronBodissey commented on #30
[Modèles Office personnalisés.zip](https://github.com/chelh/VBASync/files/1096991/Modeles.Office.personnalises.zip)
![winmerge compare](https://user-images.githubusercontent.com/18421040/27470295-975228be-57f3-11e7-9e96-ce234b3c8dc3.png)

[2017-06-24 02:58] chelh commented on #28
I've thought about this feature before, but from a different angle. [Rubberduck](https://github.com/rubberduck-vba/Rubberduck) supports folders via annotations like `'@Folder Directory.Subdirectory`. If I make VBA Sync respect those annotations, it will allow you to specify subdirectories, but in code, not by moving files around yourself. So it's not *exactly* what you're looking for, but it may b

[2017-06-24 04:40] chelh commented on #30
The issue seems to be that Office can change the order in which it stores controls in a form, even if you make no changes to that form. Please try this v2.2.0 release candidate.

[Portable VBA Sync Tool 2.2.0.zip](https://github.com/chelh/VBASync/files/1099435/Portable.VBA.Sync.Tool.2.2.0.zip)

[2017-06-25 04:54] chelh commented on #29
I've thought about this before, since I use VBA Sync myself to help with developing an Excel `.xla` add-in. But I don't want to complicate the UI with extra fields that many people won't use! Perhaps you could use VBA Sync's command-line interface instead:

[code]

[2017-06-26 06:03] epieters opened #31 "Input string was not in a correct format"
I successfully installed VBA Sync and managed to get the first commit into git.
But when I try again, I'm getting an "Input string was not in correct format" error message.
Both my VBA code and the xlsm are currently under version control.

<img width="378" alt="vbasyncerror" src="https://user-images.githubusercontent.com/3625977/27526386-b4bb95c6-5a45-11e7-805c-80d54f1ca157.png">

[2017-06-26 09:12] BaronBodissey commented on #30
Hi,

Still not working.

Maybe Office jumbles sites order but still I don't think that's the reason I had to open this ticket. As I explained in the initial post, the problem is that extracting twice in a row (without using Office between the two extractions) the generated frx is different. There must be something in VBASync that is not repeatable or time/random dependant to generate this issue.

[2017-06-26 09:33] BaronBodissey commented on #30
In fact I noticed that there's an issue on frm files also. Maybe that's the starting point.
There's some special french char in the frm: é.
When I "open" (from scratch) VBASync and then I extract the dot file the é char is correctly extracted. But at the same time VBASync display some differences although it just did itself the extraction! So then (without closing/reopening VBASync) I extract agai

[2017-06-26 21:36] chelh commented on #31
Any chance you could send the file and the contents of that folder?

[2017-06-27 04:16] chelh commented on #30
Hm, I thought the fix for that was included in the last set of binaries I posted here. Could you try replacing `VBASync.exe` and `VBASync.WPF.dll` in your VBASync folder with these, to see if they make a difference?

[VBASync binaries.zip](https://github.com/chelh/VBASync/files/1104141/VBASync.binaries.zip)

[2017-06-27 15:51] BaronBodissey commented on #30
The frm file problem is gone. But the frx one is still here.
The problem is always at the same place in the frx, "last line" between character 523 and 539 (with winmerge).
You can reproduce the problem using the doc2.dot document in the zip file:
[Modèles Office personnalisés.zip](https://github.com/chelh/VBASync/files/1105912/Modeles.Office.personnalises.zip)

[2017-06-27 23:46] chelh commented on #30
Okay, I see what you mean now, and it may be due to the CLSID of the `.frx` root storage not being set to the proper value of `c62a69f0-16dc-11ce-9e98-00aa00574a4f`. Try this latest set of binaries and see if they help:

[VBASync binaries with CLSID fix.zip](https://github.com/chelh/VBASync/files/1107122/VBASync.binaries.with.CLSID.fix.zip)

Sorry for mistakenly editing your bug title earlier!

[2017-06-28 13:24] BaronBodissey commented on #30
Ok, It work better/fine now.

Nonetheless I noticed something else during some roudtripping tests. When you suppress the ThisDocument.cls and publish to the office document you kinda corrupt the office file. That is to says that when opening the document with office, you don't find anymore the project in the VBA Editor.

Is it intentionnal?

I found this feature kinda dangerous. I can envision the

[2017-06-29 04:17] chelh commented on #30
When I tested a similar scenario with Excel, Excel automatically repaired the file, so I assumed Word would behave the same. I guess not!

To prevent future users from stumbling upon this and corrupting their file, I've made it so that if you delete any document file in the repository and then publish, VBA Sync will act as if you had truncated all of the code in that file, leaving the metadata int

[2017-06-29 04:17] #30 closed, assigned to chelh

[2017-06-29 04:20] chelh commented on #30
By the way, have you had a chance to look at my responses to #28 and #29?

[2017-06-29 07:27] BaronBodissey commented on #28
I didn't knew this feature of Rubberduck. I'll have a look.

Nonetheless, although I think of using Rubberduck for some times, we still don't. In fact it's not so easy to adopt Rubberduck as you have to install it on every developper's computer. You have to make the effort to convince your colleagues to adopt it also. My colleagues are quite open-minded, but still, habit changing is always challen

[2017-06-29 07:36] BaronBodissey commented on #29
I have to test that kind of process. I didn't think about it as I was still in automation mode in my reflection. And when you use automation, even if the vba files didn't changed, the generated document would be changed. And this we cannot afford.

If VBASync generates exactly the same document every time then we might have a winner ;-) .

So I going to evaluate this option...

[2017-06-29 07:46] BaronBodissey opened #32 "Splitting VS Project"
I also would suggest that you split VBASync project. I envision a splitting in 3:

- One library to read vba project, with reader and vba project's object model
- Another library with the vba project diff
- And finally the VBASync itself

And as the libraries could be uses not only in VBASync, we also could imagine creating another repo...

Best regards.

BB

[2017-06-29 12:58] BaronBodissey commented on #29
Ok it seems to work properly.

Maybe you could had a non-regression test to verify that the generated office document is exactly the same when you generate twice without modifiying neither the "template" document nor the vbas.

I think I might not be the only one to have this concern.

Thx.

[2017-06-29 22:19] chelh commented on #32
I'll consider it, but it may take quite a lot of time to get everything up to “library-grade” standards!

[2017-06-30 08:03] BaronBodissey commented on #32
Hey,

That's not so big a job. For example I just try to use the code.
So I referenced VBASync.Exe, replaced internals with publics and that's it:
`
        Dim frxBytes1 As Byte() = File.ReadAllBytes(".\Designations.frx")
        Using frxCfStream1 As New MemoryStream(frxBytes1, 24, frxBytes1.Length - 24, False)
            Using cf1 As New CompoundFile(frxCfStream1)
                Dim cfstream

[2017-06-30 08:16] BaronBodissey commented on #32
But indeed doing that I noticed some bugs/limitations:

- `PictureAlignment = PropMask.HasPictureAlignment ? r.ReadPictureAlignment() : PictureAlignment.TopLeft;`
the specification define default as `The file format default is 0x02, fmPictureAlignmentCenter.`

- `Zoom = PropMask.HasZoom ? r.ReadUInt32() : 0;`
`MUST be greater than or equal to 10 (10 percent of actual size) and less than or equal t

[2017-07-03 01:52] chelh commented on #28
Oh no, I'm not suggesting that you just switch to Rubberduck at all :-1: I'm just proposing an alternate implementation, where you have to use the `'@Folder Directory.Subdirectory` annotation to tell VBASync where the file goes, rather than having VBASync monitor the repository for file movements itself.

Let's call mine the “explicit” method, and yours the “implicit” method.

Something that occur

[2017-07-03 08:48] chelh commented on #29
Okay, I've added that integration test for a very basic scenario. Let me know if you ever notice a scenario where publishing is non-repeatable, and I'll add another integration test to cover that case.

[2017-07-03 08:48] #29 closed, assigned to chelh

[2017-07-06 07:46] BaronBodissey commented on #28
Well...I think your idea is neat....but still I'd prefer having the subdirectories scanning mecanism. I do have several arguments for it.

1. the `@Folder` would be understood only by VBASync

- so it ties us to VBASync (and I don't like being tied, it's an "architectural smell")

- although `@Folder` is kinda clear in it's meaning, we cannot be sure of it is really meant to be and how it works. I

[2017-07-06 07:59] BaronBodissey opened #33 "OLE error at "next" extraction"
Hey,

New problem when extracting twice in a row:
![image](https://user-images.githubusercontent.com/18421040/27901220-85689ae6-6231-11e7-9acb-33320bc92d42.png)
At the beginning there's nothing in the extract directory, so everything is extracted correctly.  The second times the extracted files are already in the directory as we just extracted them, and we get this error message.

[2017-07-06 08:05] BaronBodissey commented on #33
seems to be caused by monday's commit 3545e4e6...

[2017-07-07 06:09] #33 closed, assigned to chelh

[2017-07-07 06:11] chelh commented on #28
Hm, okay then. I'll start work on doing it the implicit way, but it'll be turned off by default to prevent the problem I discussed earlier. You'll find the new checkbox under session settings.

[2017-07-08 20:31] native-api opened #34 "Paths in VBASync UI with national characters are restored incorrectly on session auto-restore"
* Specify path to project folder and/or Excel file that contain national characters
* Save session as vbasync.ini into the current folder
* Restart VBASync (do NOT load a session manually)
* => Paths are restored automatically, but become mojibake
* Load the session manually => paths are okay
* "Load Last session" => paths are restored as mojibake

[2017-07-08 20:42] native-api commented on #34
Paths as they are entered:
![2017-07-08 23_38_05-vba sync tool](https://user-images.githubusercontent.com/2670332/27988932-d2260826-6436-11e7-84a3-5c9abba154bf.png)

Paths as they're incorrectly restored:
![2017-07-08 23_42_20-vba sync tool](https://user-images.githubusercontent.com/2670332/27988953-208d91dc-6437-11e7-9bb1-50fb679ed441.png)

[2017-07-08 20:48] native-api opened #35 ""Error reading 'o' stream in .frx data" after the first export"
* Export a form
* Reopen VBASync
* "Refresh"
* Error message box:

[code]

Maybe this has something to do with national characters in paths and/or in form properties.

This is a critical bug since the utility can't proceed any further.

[2017-07-08 20:50] chelh commented on #35
Could you please attach a `.zip` file with your Office file and the contents of your repository folder, so I can reproduce?

[2017-07-08 20:50] native-api commented on #35
Example file where the error is reproduced.

[А4_СУПЕР_СВИДЕТЕЛЬСТВО_97 - копия.zip](https://github.com/chelh/VBASync/files/1133300/4_._._97.-.zip)

Repository folder contents:
[VBAProjectFiles.zip](https://github.com/chelh/VBASync/files/1133302/VBAProjectFiles.zip)

[2017-07-09 02:51] chelh commented on #35
Please replace your `VBASync.exe` and `VBASync.WPF.dll` with the corresponding files from this mid-development build, to see if you have a better experience. This should also help with #34.

– Disregard this version, I will send a new one shortly

After extracting, right-click the `.exe` and the `.dll` separately, and for each go into properties and hit **Unblock** (or the Russian equivalent, it s

[2017-07-09 03:11] chelh commented on #35
I've updated the mid-development build with a fix specifically for #34 (I thought it had been fixed by an earlier commit, but I guess not!):

[Portable VBA Sync Tool 2.2.0.zip](https://github.com/chelh/VBASync/files/1133523/Portable.VBA.Sync.Tool.2.2.0.zip)

[2017-07-09 07:37] chelh commented on #32
Yes, in the larger context the issue is that I didn’t write this to *completely* decompose the FRX data; I only read enough of it to compare two FRX files. Like on `FormControl` there’s a certain point where I just *stop parsing* because the rest of the stream can be handled byte-by-byte.

Also, be careful using any of my emitted members, even `public` ones, as the code is going to be overhauled w

[2017-07-14 05:46] native-api commented on #35
This bug is fixed!
#34, however, is not.

P.S. thanks for the prompt response. I got in hospital and couldn't check the fix out earlier.

[2017-07-14 05:46] #35 closed, assigned to chelh

[2017-07-14 05:50] native-api commented on #34
Not fixed in https://github.com/chelh/VBASync/issues/35#issuecomment-313894860. Looks like you're encoding the string twice. Or encoding it on output but not decoding on input or something.
[LastSession.zip](https://github.com/chelh/VBASync/files/1147472/LastSession.zip)

Logically speaking, `LastSession.ini` should be handled the same way as `VBASync.ini`.

[2017-07-14 08:12] chelh commented on #34
Hm, did you use the second set of binaries I posted in #35? The first set, which would be in your e-mail, doesn't actually have the fix fot this bug.

[2017-07-14 08:57] native-api commented on #34
I downloaded the binaries from the ticket UI, today, right before I tested them and reported the results.

[2017-07-14 09:09] native-api commented on #34
I downloaded the binaries today, from the ticket UI, right before testing them and reporting the results.
I can confirm that "restore last session" now works correctly, but that's not all.

Note the reproduction steps, specifically, the `vbasync.ini` in the current folder that triggers session auto-restore.
I created `VBASync.lnk` in the project's folder, setting "work folder" to `.` and saving `v

[2017-07-16 01:03] chelh commented on #28
Okay, this took a while, but I think I have all scenarios covered. Please give this release candidate a spin…

[Portable VBA Sync Tool 2.2.0.zip](https://github.com/chelh/VBASync/files/1150751/Portable.VBA.Sync.Tool.2.2.0.zip)

@hectorticoli Could you please translate the new string in the settings window? There also may still be some untranslated strings from the hook implementation as well.

[2017-07-16 01:05] chelh commented on #31
Hi, if you cannot send me the problematic file and the contents of the extracted folder, I'm afraid I'll have to close this. If you could make some other file exhibit this behavior and send me that plus *its* extracted folder, that would work too. I just need to be able to reproduce this locally within the next week or so…

[2017-07-16 01:06] chelh commented on #31
It may also help if you try this using the very latest release candidate:

[Portable VBA Sync Tool 2.2.0.zip](https://github.com/chelh/VBASync/files/1150754/Portable.VBA.Sync.Tool.2.2.0.zip)

[2017-07-16 02:39] chelh commented on #28
New release candidate – double-clicking a change that’s in a subdirectory should work now:

[Portable VBA Sync Tool 2.2.0.zip](https://github.com/chelh/VBASync/files/1150803/Portable.VBA.Sync.Tool.2.2.0.zip)

[2017-07-16 03:34] chelh opened #36 "New maintainers and new versions of VBA Sync"
VBA Sync is now public domain software. Any new authors please use this thread to advertise your version.

**To build the project, you will need Visual Studio 2017 or later. Also download [`VBACompressionCodec.dll`](https://github.com/chelh/VBACompressionCodec/releases) to the `src` directory.**

[2017-07-16 19:09] hectorticoli commented on #28
Hi chelh,
Could you please give me more details about a few texts?
- "Search repository subdirectories", with "repository, do you mean "VBA project folder"? repository is a versioning control system term, so I suspect the word to be inappropriate. If you don't mean "VBA project folder", could you elaborate so that I can find an appropriate translation?
- "Add new document modules when publishing (

[2017-07-16 23:10] chelh commented on #28
Yes. I've just changed the English text to “Search subdirectories of VBA project folder” to be more clear.

Yes. I've just changed the English text to “**Allow** adding new document modules when publishing (expert option)”, to be more clear.

This came up in the last few comments to #30. Previously if you deleted a document module in the VBA project folder (like `ThisDocument.cls` for Word project

[2017-07-17 14:09] BaronBodissey commented on #28
Hey chelh,

Sorry I've switched project for now. And as holidays are coming, I've to finish mandatory projects first...Think I'll not been able to test until september.

Sorry to read that you want to retire from the project. Hope it's not my fault ;-).

See ya.

[2017-07-19 17:50] hectorticoli commented on #28
Hi chelh,

It took longer than expected, but this time I was able to compile and test the version with the translation. So here is the updated french resource file. Enjoy!
[VBASyncResources.fr.resx.txt](https://github.com/chelh/VBASync/files/1159956/VBASyncResources.fr.resx.txt)

[2017-07-21 16:17] MartinDavidWaller commented on #36
Hi, It looks like I'm about to start a fairly large VBA project and I've been looking at ways of putting VBA under source control. I am pleased to have found your repository and your tools looks excellent. If I do get involved in the VBA project then I also be interested in maintaining the project. I should be able to let you know in the next 3 - 4 weeks.

Martin

[2017-07-22 02:38] chelh commented on #36
I’ve decided when I release v2.2.0, I’ll most likely put my own portion of the project into the public domain. Thereafter anyone will be able to release their own version of VBA Sync. No need to rename the project, credit me, or include the original license terms – though all these things would definitely be appreciated!

If you do decide to start up your own version of VBA Sync, please link it he

[2017-07-24 08:22] MartinDavidWaller commented on #36
Hi Chelsea,

Many thanks for the reply.

That all sounds like a good plan to me.

As requested, if I do start my own version I will link it as requested.

Martin

From: Chelsea Hughes [mailto:notifications@github.com]
Sent: 22 July 2017 03:38
To: chelh/VBASync <VBASync@noreply.github.com>
Cc: MartinDavidWaller <Martin@The-Wallers.net>; Comment <comment@noreply.github.com>
Subject: Re: [chelh/VBASy

[2017-08-17 09:53] epieters commented on #31
Sorry for the delay. I've installed version 2.2.0 and am able to extract the VBA from the excel file.
Only the form is not extracted
<img width="251" alt="vbasync" src="https://user-images.githubusercontent.com/3625977/29406855-a540921a-8342-11e7-8aa5-79946e76ab12.png">

[2017-08-24 08:27] #31 closed, assigned to nobody

[2017-08-24 08:27] epieters commented on #31
the original bug is fixed, so closing this issue

[2017-10-17 09:18] mashaiq commented on #1
If you want to spend a little money - this solution works great https://dev2dev.de/index.php?lang=en and has a nice support from the developer.

[2018-03-20 15:04] ghost commented on #36
Hi Chelsea,
I can see that a lot of effort went into your project. Very impressive!

I have been trying to run the project from the source code. It compiles just fine, but it will not run. I am using VS 2017 and this is the line that fails:

Assembly.Load("VBASync.WPF")
.GetType("VBASync.WPF.WpfManager")
.GetMethod("RunWpf", BindingFlags.Public | BindingFlags.Static)
.Invoke(null, new object[] { s

[2018-03-28 13:36] SiNeumann commented on #36
@Rudiboy
maybe this should be in a new issue.
I just tried it for the first time myself.
Basically VBA.Sync is build into VBASync/bin/Debug
VBASyncWPF is build into VBASyncWpf/bin/Debug but copies the reference to VBA.Sync into the output.
Therefore if you start VBA.Sync directly (which VS Debugger would do) it won't find VBA.Sync.Wpf)
Easy fix would change the output paths of both projects to bui

[2018-03-29 08:07] ghost commented on #36
@SiNeumann,
Thanks for sharing. I did not think of that. It works fine after changing the output path.

[2018-05-30 14:33] bstiel commented on #36
@SiNeumann @Rudiboy @MartinDavidWaller - hi guys, just checking what the status of this repository is? are you guys maintaining this in any way? and whats your main use case for VBA sync? reason I'm asking is that we maintain a GH repo that does something similar-ish but for Git only (https://github.com/ZoomerAnalytics/git-xltrail) so I'm trying to find out what the common use case is. thanks!

[2018-06-05 09:22] RoForge opened #37 "Issue while extracting from Office file"
I have a Word template containing some forms in my .dotm file.
I have extracted my .dotm file into a folder from which I am committing the code to SVN.

When I make changes to the code for the form, I am able to successfully extract the '.frm' files with the code.
However, when I make any UI changes in a form, and try to extract them, I am getting an error as shown in the screenshot.
Error:  'File

[2021-05-17 11:59] chatterzhao opened #38 "Chinese garbled"
this tool is work,but Chinese garbled
how to change? help me!

[2021-05-18 07:04] chatterzhao commented on #38
is Visual Studio Code defalut utf-8
when change gbk or gb2312 or gb18030 is work

[2021-05-18 07:05] chatterzhao opened #39 "debug is error"
![image](https://user-images.githubusercontent.com/11829944/118606878-8239fa00-b7ea-11eb-8f1e-b8ce8ece9d69.png)

[2021-08-18 13:08] jbviviers commented on #36
I encountered a bug using Excel files saved in Office 2019 Pro.

When trying to extract, a pop-up message is displayed that says: "Unknown record id '0x004A'."

Excel 2019 Pro includes a new PROJECTCOMPATVERSION Record (section 2.3.4.2.1.2) with Id 0x004A.

Specification used (retrieved on 17 August 2021):
https://interoperability.blob.core.windows.net/files/MS-OVBA/%5bMS-OVBA%5d.pdf

To fix the b